* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #23242f;
  color: #fff;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

ul,
li {
  list-style: none;
}
